/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
    &kp ESC     &kp Q     &kp W     &kp E      &kp R
    &kp TAB     &kp A     &kp S                &kp G
    &kp LSHIFT                                 &to 1 
            >;
        };

        nav_layer {
            bindings = <
    &bt BT_SEL 0    &bt BT_SEL 1   &bt BT_SEL 2    &trans      &bt BT_CLR
    &trans          &trans         &trans                      &bootloader
    &studio_unlock                                             &to 0
            >;
        };

        symbol_layer {
            bindings = <
    &trans     &trans    &trans     &trans      &bootloader
    &trans     &trans     &trans                &trans
    &trans                                      &trans
            >;
        };
    };
};
